@import 'typography';

.panomod {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

.panomod-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.panomod-title {
    font-size: 1.6em;
}

.panomod-footer {
    text-align: center;
    width: 100vw;
}
