@import 'typography';

.panomod {
    font-family: 'Futura', sans-serif;
    font-size: 16px;
    width: 100vw;
}

.panomod-container {
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.panomod-footer {
    text-align: center;
    width: 100vw;
}

.panoview-image {
    max-height: 500px;
}

.panomod-breadcrumbs {
    margin-bottom: 16px;

    &a:hover {
        color: #303030;
    }
}
